.header {
  display: flex;
  justify-content: space-evenly;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

.header__title-img {
  height: 50px;
}

.navbar {
  justify-content: flex-end;
}
